<h1>{{seriesTitle}}</h1>
<h2>{{seriesOverview}}</h2>
<img src="http://thetvdb.com/banners/{{seriesBanner}}"/>

{{list}}

{{#each list}}
    <div>{{SeriesName}}</div>
{{/each}}

<br />
<br />
<a href="/">Go back</a>